@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Roboto+Slab&display=swap');
body{
    background-color: rgb(244,244,244);
}
#container{
 margin-left: 10%;
 margin-right:10%;

}
  .item-container {
    margin: 20px;
    height: 3;
    padding: 10px;
    background-color:white;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    line-height: 0.7;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
  }
  .item-container hr{
    height:2px;
    border-width:0;
    color:rgb(244,244,244);
    background-color:rgb(244,244,244);
  }
  .bottom{
      display: flex;
    justify-content: space-between;
    margin-right: 5%
  }
  .totalPrice{
    color: rgb(34,80,199);
  }
  .buttons{
      text-align: right;
      margin-right: 3%;

  }
  .button1{
      width: 150px ;
      height:50px;
      border-radius: 5px;
      background-color:rgb(48,196,92);
      border-style: none ;
      color:white;
      font-family: 'Outfit', sans-serif;
      font-size: 20px;
  }
  .button2{
      width: 150px ;
      height:50px;
      border-radius: 5px;
      background-color:rgb(256,76,76);
      border-style: none ;
      color:white;
      font-family: 'Outfit', sans-serif;
      font-size: 20px;
      margin-left: 2%;
  }
  .button3{
    width: 150px ;
    height:50px;
    border-radius: 5px;
    background-color:rgb(240,164,84);
    border-style: none ;
    color:white;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    margin-left: 2%;
}
.button4{

  width: 150px ;
      height:50px;
      border-radius: 5px;
      background-color:rgb(8,148,252);
      border-style: none ;
      color:white;
      font-family: 'Outfit', sans-serif;
      font-size: 20px;
}
.statusDots{
  font-size: 30px;
}


#products  {
  margin-left: 10%;
  margin-right: 10%;
}
.productHeader{
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  font-weight: 20px;
  font-size:20px;
}
.item-product {
  margin: 20px;
  height: 3;
  padding: 10px;
  background-color:white;
  border-radius: 5px;
  font-family: 'Outfit', sans-serif;
  line-height: 1;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .item-product hr{
    height:2px;
    border-width:0;
    color:rgb(244,244,244);
    background-color:rgb(244,244,244);
  }
.statusLed{
  display: flex;
}
.card {
  margin: 20px;
  height: 3;
  padding: 10px;
  background-color:white;
  border-radius: 5px;
  font-family: 'Outfit', sans-serif;
  line-height: 0.7;
  width: 80%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
.description{
  line-height:1.5;
}
.qtyStyle{
  margin-left: 95%;
}
.totalPriceProduct{
  margin-left: 70%;
  font-size:25px;
  color: rgb(48,196,92);
}
.backButton {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.backButton:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.backButton:focus {
  border-color: #4285f4;
  outline: none;
}
.customerInfo{
  margin-left: 2%;
}
/* searchbar */
button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
input {
	color: #171717;
}
.search-bar {
	display: flex;
  
  
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}